"*":
  core:
    allowPendingPaneItems: false
    telemetryConsent: "limited"
  editor:
    showInvisibles: true
  "exception-reporting":
    userId: "9b40b61f-6f2c-1a91-d23e-20ca992a725c"
  linter: {}
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "linter-ui-default": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "status-bar":
    isVisible: true
  "tree-view": {}
  welcome:
    showOnStartup: false
