"*":
  core:
    allowPendingPaneItems: false
    telemetryConsent: "limited"
  editor: {}
  "exception-reporting":
    userId: "9b40b61f-6f2c-1a91-d23e-20ca992a725c"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
