"*":
  editor:
    fontSize: 16
  "exception-reporting":
    userId: "9b40b61f-6f2c-1a91-d23e-20ca992a725c"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  welcome:
    showOnStartup: false
