packages: [
  "busy-signal"
  "editorconfig"
  "elm-format"
  "file-icons"
  "intentions"
  "language-elixir"
  "language-elm"
  "language-haml"
  "language-protobuf"
  "linter"
  "linter-coffeelint"
  "linter-elixirc"
  "linter-elm-make"
  "linter-rubocop"
  "linter-ruby"
  "linter-ui-default"
  "nyancat"
  "package-sync"
  "react"
  "teletype"
]
