packages: [
  "000-project-shell-env"
  "busy-signal"
  "file-icons"
  "intentions"
  "language-elixir"
  "language-haml"
  "linter"
  "linter-coffeelint"
  "linter-elixirc"
  "linter-rubocop"
  "linter-ruby"
  "linter-ui-default"
  "nyancat"
  "package-sync"
  "react"
  "teletype"
]
